/* Body Section */

body {
	color: #777777;
	font-family: Arial, Helvetica, Sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: lightgrey;
}

.wrapper {
	width: 960px;
	margin: 0px 400px 0px 400px;
}

h2 {
	color: #4aaaa5;
	font-family: georgia, times, serif;
}

/* Header Section */

header {
	background-color: white;
	border-bottom: 2px solid;
}

.nav {
	float:right;
	padding-top: 30px;
	padding-right: 300px;
	z-index: -1;
	margin-top: 0px;

	
}

nav {
	background-color: white;
}

nav ul li {
	display: inline-block;
	margin: 0px;
}

nav ul li a {
	text-decoration: none;
	font-size: 18px;
	color: #777777;
	border-spacing: 5px;
}

#about {
	text-align: center;
	padding: 0px 10px 0px 20px;
	border-right: 1px solid #777777;

}

#portfolio {
	text-align: center;
	padding: 0px 10px 0px 10px;
	border-right: 1px solid #777777;
}

#contact {
	text-align: center;
	padding: 0px 10px 0px 10px;
	
}

h1 {
	width: 250px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 400px;
	padding: 30px 20px 30px 20px;
	color: white;
	background-color: #4aaaa5;
	font-family: arial, times, serif;
}


/* Bio Section */

header {
	margin: 0 auto;
}

#subContent {
	width: 960px;
	float: right;
}

.aboutMe {
	width: 640px;
	margin: 0px;
	background-color: white;
}

#bio {
	background-color: white;
	float: left;
	margin: 0px;
}

.headshot {
	position: relative;
	width: 10%;

}


/* Contact Me */

aside {
	float: right;
	text-align: center;
	width: 290px;
	border-spacing: 5px;
	background-color: white;
	border: 1px solid #777777;
	margin-right: 300px;
}

#connect {
	align-content: center;
	width: 50%;
	border-bottom: 1px solid lightgrey;
	padding: 5px 20px 20px 10px;
}

#github {
	margin: 15px 5px 10px 5px;
	
}

#linkedin {
	margin: 15px 5px 10px 5px;
	
}

#stackoverflow {
	margin: 15px 5px 10px 5px;
	border: 1px solid lightgrey;
}


/* Footer */

.footer {
	background: #666666;
	color: #F0F0F0;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 10px solid #4aaaa5;
}


