/* Body Section */

body {
	color: #777777;
	font-family: Arial, Helvetica, Sans-serif;
}

.wrapper {
	width: 960px;
	margin: 0px 400px 0px 400px;
}

h2 {
	color: #4aaaa5;
	font-family: georgia, times, serif;
}

/* Header Section */

header {
	background-color: #777777;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}

.header {
	width: 250px;
	text-align: center;
	padding: 30px 20px 30px 20px;
	color: white;
	background-color: #4aaaa5;
	font-family: georgia, times, serif;
	float: left;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	padding: 30px 20px 0px 0px;
}

nav ul li a {
	text-transform: capitalize;
	text-decoration: none;
	font-size: 18px;
	color: #777777;
	border-spacing: 5px;
	display: inline-block;
}

#about {
	padding-right: 20px;
	border-right: 1px solid #777777;
}

#portfolio {
	padding-left: -10px;
	padding-right: 20px;
	border-right: 1px solid #777777;
}

#contact {
	padding-left: -10px;
}

/* Bio Section */

.subContent {
	width: 960px;
}

.headshot {
	position: absolute;
}

.aboutMe {
	clear: both;
	width: 650px;
}

/* Contact Me */

.contactMe {
	text-align: center;
	width: 270px;
	float: right;
	border-spacing: 5px;
	display: inline-block;
}

#connect {
	border-bottom: 5px solid #777777;
	padding: 5px 5px 5px 5px;
	border: 5px 5px 5px 5px;
	background-color: #777777;
}

#github {
	padding: 5px 5px 5px 5px;
}

#linkedin {
	padding: 5px 5px 5px 5px;
}

#stackoverflow {
	padding: 5px 5px 5px 5px;
}


/* Footer */

.footer {
	background: #666666;
	color: #F0F0F0;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 10px solid #4aaaa5;
}


